@import "tailwindcss";

@import "../styles/theme.css";
@import "../styles/typography.css";
@import "../styles/components.css";
@import "../styles/animations.css";
@import "../styles/utilities.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}